<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.form.mapper.SurveyMapper">
	<select id="selectSurvey" resultType="Survey">
		SELECT		s_idx  as sIdx,
					s_title as sTitle,
					s_datetime as sDateTime
		FROM		y_survey
	</select>
	
	<insert id="insertSurvey" parameterType="Survey" useGeneratedKeys="true" keyProperty="sIdx">
		INSERT INTO y_survey(
			s_idx,
			s_title, 
			s_datetime
		)
        VALUES (
        	#{sIdx},
        	#{sTitle}, 
        	now()
        )
        <selectKey keyProperty="sIdx" resultType="Integer" order="AFTER">
        	SELECT	last_insert_id()
        </selectKey>
	</insert>

	<insert id="insertQuestion" parameterType="Question" useGeneratedKeys="true" keyProperty="qIdx">
		INSERT INTO y_question(
			q_idx, 
			q_type, 
			q_question, 
			s_idx
		)
   		VALUES (
        	#{qIdx}, 
        	#{qType}, 
        	#{qQuestion}, 
        	#{sIdx}
        )
	</insert>
	<select id="selectquestionid" parameterType="Question">
		SELECT	q_idx as #{qIdx},
				q_type as #{qType},
				q_question as #{qQuestion},
				s_idx as #{sIdx}
		FROM	y_question
		WHERE	q_idx = 2
	</select>
	<insert id="insertOption" parameterType="Options">
		INSERT INTO y_option(
			o_idx,
			q_idx,
			o_option,
			s_idx
		)
		VALUES (
			#{oIdx},
        	#{qIdx}, 
        	#{oOption},
        	#{sIdx}
        )
	</insert>
	
	<update id="get">
		<selectKey keyProperty="qIdx" resultType="Integer" order="AFTER">
        	SELECT	q_idx as #{qIdx}
        	FROM	y_question
       		WHERE	q_type = 2 AND s_idx = #{sIdx}
        </selectKey>
        UPDATE	y_option
        SET		q_idx = #{qIdx}
        WHERE	s_idx = #{sIdx}
	</update>
	
	<select id="getqIdx">
		SELECT  q_idx as #{qIdx}
		FROM	y_question
		WHERE	q_type = 2
		LIMIT	1
	</select>
	<update id="getOptionqIdx" parameterType="Options">
		UPDATE	y_option
		SET		q_idx = (
			SELECT	q_idx
			FROM	y_question
			WHERE	q_type = 2
			ORDER BY s_idx DESC
        	LIMIT 1
		)
		WHERE s_idx = (
			SELECT	s_idx
			FROM	y_question
			WHERE	q_type = 2
			ORDER BY s_idx DESC
			LIMIT 1
		)
	</update>
	<select id="viewSurvey" parameterType="Integer" resultType="Survey">
		SELECT	s_idx as sIdx,
				s_title as sTitle
		FROM	y_survey
		WHERE	s_idx = #{sIdx}
	</select>
	
	<select id="viewQuestion" parameterType="Integer" resultType="Question">
		SELECT	s_idx as sIdx,
				q_idx as qIdx,
				q_type as qType,
				q_question as qQuestion
		FROM	y_question
		WHERE	s_idx = #{sIdx}
	</select>
	
	<select id="viewOption" parameterType="Integer" resultType="Options">
		SELECT	o_idx as oIdx,
				s_idx as sIdx,
				q_idx as qIdx,
				o_option as oOption
		FROM	y_option
		WHERE	s_idx = #{sIdx}
	</select>
	
	<select id="viewAnswer" parameterType="Integer" resultType="Answer">
		SELECT	o_idx as oIdx,
				s_idx as sIdx,
				q_idx as qIdx,
				a_answer as aAnswer,
				a_id as aId
		FROM	y_answer
		WHERE	s_idx = #{sIdx}
	</select>
	
	<insert id="insertAnswer" parameterType="Answer">
		INSERT INTO y_answer(
			o_idx,
			q_idx,
			a_answer,
			s_idx
		)
		VALUES (
			#{oIdx},
        	#{qIdx}, 
        	#{aAnswer},
        	#{sIdx}
        )
	</insert>
	
	<insert id="insertallAnswer">
		INSERT INTO y_allanswer(
			s_title,
			s_idx
		)
		VALUES (
        	#{sTitle},
        	#{sIdx}
        )
	</insert>
	
	<update id="updateoId">
		UPDATE y_answer
		SET	o_idx = (
			SELECT	o_idx
			FROM	y_option
			WHERE	y_option.o_option = y_answer.a_answer and y_answer.q_idx = y_option.q_idx
			LIMIT 1
		)
	</update>
	
	<select id="selectAnswerList">
		SELECT  ta.s_idx as sIdx, ta.q_idx as qIdx, ta.o_option as oOption, count
		FROM			y_option ta
		LEFT JOIN	
				(
				SELECT		ta.s_idx as sIdx, ta.q_idx as qIdx, ta.o_idx, COUNT(tb.o_idx) count
				FROM		y_option ta
				LEFT JOIN	y_answer tb ON ta.o_idx = tb.o_idx
				GROUP BY 	ta.o_idx, ta.q_idx, ta.s_idx
				) tb ON ta.o_idx = tb.o_idx
		WHERE	1=1
		AND 	ta.s_idx = #{sIdx}
		AND		ta.q_idx = 216
	</select>
	
	<select id="getAllanswerList">
		SELECT	ta.a_answer as aAnswer, count(*) as COUNT, tb.q_question as qQuestion, ta.s_idx as sIdx
		FROM	y_answer as ta
		LEFT JOIN y_question as tb
		ON ta.s_idx = tb.s_idx
		WHERE	ta.s_idx = #{sIdx} and ta.q_idx = (
			SELECT	tb.q_idx
			FROM	y_question
			WHERE	ta.q_idx = tb.q_idx
			GROUP BY tb.q_idx
			ORDER BY tb.q_idx ASC
			)
		GROUP BY qQuestion,ta.o_idx
		ORDER BY ta.q_idx ASC
	</select>
	
	<select id="selectAnswerLists">
		SELECT	ta.a_answer as aAnswer, count(*) as COUNT, tb.q_question as qQuestion, ta.s_idx as sIdx
		FROM	y_answer as ta
		LEFT JOIN y_question as tb
		ON ta.s_idx = tb.s_idx
		WHERE	ta.s_idx = #{sIdx} and ta.q_idx = (
			SELECT	tb.q_idx
			FROM	y_question
			WHERE	ta.q_idx = tb.q_idx
			GROUP BY tb.q_idx
			ORDER BY tb.q_idx ASC
			LIMIT 1
			)
		GROUP BY ta.o_idx, ta.a_answer
		ORDER BY ta.q_idx ASC
	</select>
	
	<update id="updateSurvey" parameterType="Survey">
		UPDATE	y_survey
		SET		s_title = #{sTitle},
				s_datetime = now()	
		WHERE	s_idx = #{sIdx}
	</update>
	
	<update id="updateQuestion" parameterType="Question">
		UPDATE	y_question
		SET		q_type = #{qType},
				q_question = #{qQuestion}	
		WHERE	s_idx = #{sIdx} and q_idx = #{qIdx}
	</update>
	
	<update id="updateOption" parameterType="Options">
		UPDATE	y_option
		SET		o_option = #{oOption},
				s_idx = #{sIdx},
				q_idx = #{qIdx}
		WHERE	s_idx = #{sIdx} and o_idx = #{oIdx}
	</update>
</mapper>

