<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.form.mapper.SurveyMapper">
	<select id="selectSurvey" resultType="Survey">
		SELECT		s_idx  as sIdx,
					s_title as sTitle,
					s_datetime as sDateTime
		FROM		y_survey
	</select>
	
	<insert id="insertSurvey" parameterType="Survey">
		INSERT INTO y_survey(
			s_idx,
			s_title, 
			s_datetime
		)
        VALUES (
        	#{sIdx},
        	#{sTitle}, 
        	now()
        )
        <selectKey keyProperty="sIdx" resultType="Integer" order="AFTER">
        	SELECT	last_insert_id()
        </selectKey>
	</insert>

	<insert id="insertQuestion" parameterType="Question">
		INSERT INTO y_question(
			q_idx, 
			q_type, 
			q_question, 
			s_idx
		)
   		VALUES (
        	#{qIdx}, 
        	#{qType}, 
        	#{qQuestion}, 
        	#{sIdx}
        )
	</insert>
	<select id="selectquestionid" parameterType="Question">
		SELECT	q_idx as #{qIdx},
				q_type as #{qType},
				q_question as #{qQuestion},
				s_idx as #{sIdx}
		FROM	y_question
		WHERE	q_idx = 2
	</select>
	<insert id="insertOption" parameterType="Options">
		INSERT INTO y_option(
			o_idx,
			q_idx,
			o_option,
			s_idx
		)
		VALUES (
			#{oIdx},
        	#{qIdx}, 
        	#{oOption},
        	#{sIdx}
        )
	</insert>
	
	<update id="get">
		<selectKey keyProperty="qIdx" resultType="Integer" order="AFTER">
        	SELECT	q_idx as #{qIdx}
        	FROM	y_question
       		WHERE	q_type = 2 AND s_idx = #{sIdx}
        </selectKey>
        UPDATE	y_option
        SET		q_idx = #{qIdx}
        WHERE	s_idx = #{sIdx}
	</update>
	<select id="getqIdx">
		SELECT  q_idx as #{qIdx}
		FROM	y_question
		WHERE	q_type = 2
		LIMIT	1
	</select>
	<update id="getOptionqIdx" parameterType="Options">
		UPDATE	y_option
		SET		q_idx = (
			SELECT	q_idx
			FROM	y_question
			WHERE	q_type = 2 AND s_idx = #{sIdx}
		)
		WHERE s_idx = #{sIdx}
	    AND EXISTS (
	        SELECT 1
	        FROM y_question
	        WHERE q_type = 2 AND s_idx = #{sIdx}
	    )
	</update>
</mapper>

