<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.form.mapper.SurveyMapper">
	<select id="selectSurvey" resultType="Survey">
		SELECT		s_idx  as sIdx,
					s_title as sTitle,
					s_datetime as sDateTime
		FROM		y_survey
	</select>
	
	<insert id="insertSurvey" parameterType="Survey">
		INSERT INTO y_survey(
			s_idx,
			s_title, 
			s_datetime
		)
        VALUES (
        	#{sIdx},
        	#{sTitle}, 
        	now()
        )
        <selectKey keyProperty="sIdx" resultType="Integer" order="AFTER">
        	SELECT	last_insert_id()
        </selectKey>
	</insert>
	<update id="updateSIdx" parameterType="Integer">
		UPDATE	y_question
		SET		s_idx = #{sIdx}
		WHERE	s_idx = #{sIdx}
	</update> 
	<insert id="insertQuestion" parameterType="Question">
		INSERT INTO y_question(
			q_idx, 
			q_type, 
			q_question, 
			s_idx
		)
   		VALUES (
        	#{qIdx}, 
        	#{qType}, 
        	#{qQuestion}, 
        	#{sIdx}
        )
        <selectKey keyProperty="qIdx" resultType="Integer" order="AFTER">
        	SELECT	last_inser_id()
        </selectKey>
	</insert>
	<update id="updateQIdx" parameterType="Integer">
		UPDATE	y_reulstoption
		SET		q_idx = #{qIdx}
		WHERE	q_idx = #{qIdx}
	</update> 
	<insert id="insertOption" parameterType="Options">
		INSERT INTO y_resultoption(
			r_id,
			q_idx,
			r_option
		)
		VALUES (
			#{rId},
        	#{qIdx}, 
        	#{rOption}
        )
	</insert>
</mapper>

